:root {
  /* ===== line-height ===== */
  --leading-none: 1;
  --leading-tight: 1.2;
  --leading-heading: 1.3;
  --leading-snug: 1.4;
  --leading-normal: 1.5;
  --leading-relaxed: 1.6;
  --leading-body: 1.8;
  --leading-loose: 2;

  /* ===== letter-spacing ===== */
  --tracking-tight: -0.02em;
  --tracking-normal: 0;
  --tracking-wide: 0.05em;
  --tracking-wider: 0.1em;
}
